---
import { Image } from "astro:assets";
import { format } from "date-fns";
import type { BlogSchema } from "src/content/config";
import Tag from "🧱/Tag.astro";

interface Props {
  banner?: BlogSchema["banner"];
  type: "article";
  readingTime: string;
  title: string;
  subtitle: string;
  tags: string[];
  date: Date;
  topImage?: string | undefined;
  slug: string;
}

const { readingTime, title, subtitle, tags, date, banner, slug } = Astro.props;
---

<div class="flex gap-4 font-sans items-center">
  <div
    class="flex gap-6 items-center text-sm lg:text-base font-sans whitespace-nowrap inline-flex items-center color-brand-900 font-800 uppercase tracking-wider"
    transition:name={`reading-time-${slug}`}
  >
    {readingTime}
  </div>
</div>

<h1
  class="m-0 article-title color-text-700 text-2xl sm:text-3xl md:text-5xl font-900 z-1 leading-relaxed font-article-title"
  transition:name={`title-${slug}`}
>
  {title}
</h1>

{
  banner && (
    <Image
      alt="Banner image"
      sizes="(min-width: 500px) 800px, 400px"
      width={1600}
      height={(1600 * 9) / 16}
      src={banner}
      loading="eager"
      class="article-banner my-10 aspect-ratio-[16/9] shadow-lg w-full rounded-lg outline outline-1 outline-body-800 object-cover"
      transition:name={`splash-${slug}`}
    />
  )
}

<h2
  class="mt-0 color-text-300 text-xl lg:text-2xl z-1 mb-8 text-center font-article"
  transition:name={`subtitle-${slug}`}
>
  {subtitle}
</h2>

<hr
  class="mt-2 mb-2 border-top-1 w-full h-[1px] bg-body-800 col-span-full transition-all"
/>

<div
  class="flex gap-3 color-text-400 items-baseline justify-between flex-wrap text-xs md:text-sm lg:text-base font-sans"
>
  <div
    class="list-none m-0 p-0 font-medium flex gap-4 uppercase z-1 flex-wrap text-xs"
  >
    {
      tags.map((tag) => (
        <Tag class="bg-body-800 color-text-600 px-5 py-2 rounded">{tag}</Tag>
      ))
    }
  </div>
  <span class="font-400" transition:name={`date-${slug}`}>
    Published <time datetime={date.toISOString()} class="color-text-800"
      >{format(date, "PP")}</time
    >
  </span>
</div>

<style>
  .article-banner {
    grid-column: 1/-1;
    max-width: 1200px !important;
  }

  h1.article-title {
    line-height: 1.35;
  }
</style>
