---
import { Image } from "astro:assets";
import { format } from "date-fns";
import Tag from "🧱/Tag.astro";
import { relative, resolve } from "node:path";
import * as url from "url";
const __filename = url.fileURLToPath(import.meta.url);
const __dirname = url.fileURLToPath(new URL(".", import.meta.url));
interface Props {
  banner?: string;
  type: "article";
  readingTime: string;
  title: string;
  subtitle: string;
  tags: string[];
  date: Date;
  topImage?: string | undefined;
}
const { readingTime, title, subtitle, tags, date, banner } = Astro.props;
const relativeBanner = relative(__dirname, banner).replace(
  "../../",
  "../../src/"
);
console.log("aaaa", relativeBanner);
---

<div class="flex gap-4 font-sans items-center">
  <div
    class="flex gap-6 items-center text-sm lg:text-base font-sans whitespace-nowrap inline-flex items-center color-brand-900 font-800 uppercase tracking-wider"
  >
    {readingTime}
  </div>
</div>

<h1
  class="m-0 article-title color-text-700 text-2xl sm:text-3xl md:text-5xl lg:text-6xl font-900 z-1 leading-relaxed font-serif-title"
>
  {title}
</h1>

{
  banner && (
    <Image
      alt="Banner image"
      sizes="(min-width: 500px) 800px, 400px"
      width={800}
      height={(800 * 16) / 9}
      src={relativeBanner}
      loading="eager"
      class="m-0 aspect-ratio-[16/9] w-full rounded outline outline-1 outline-body-800"
    />
  )
}

<h2
  class="mt-0 color-text-300 text-xl lg:text-3xl z-1 mb-8 text-center font-serif"
>
  {subtitle}
</h2>

<hr
  class="mt-2 mb-2 border-top-1 w-full h-[1px] bg-body-800 col-span-full transition-all"
/>

<div
  class="flex gap-3 color-text-400 items-baseline justify-between flex-wrap text-xs md:text-sm lg:text-base font-sans"
>
  <div
    class="list-none m-0 p-0 font-medium flex gap-4 uppercase z-1 flex-wrap text-xs"
  >
    {tags.map((tag) => <Tag class="bg-brand-100 px-3 py-1 rounded">{tag}</Tag>)}
  </div>
  <span class="font-400">
    Published <time datetime={date.toISOString()} class="color-text-800"
      >{format(date, "PP")}</time
    >
  </span>
</div>

<style>
  h1.article-title {
    line-height: 1.35;
  }
</style>
