---
import { Image } from "astro:assets";
import { format } from "date-fns";
import type { BlogSchema } from "src/content/config";

interface Props {
  banner?: BlogSchema["banner"];
  type: "article";
  draft?: boolean;
  readingTime: string;
  title: string;
  subtitle: string;
  date: Date;
  topImage?: string | undefined;
  id: string;
}

const { readingTime, title, subtitle, date, banner,id } = Astro.props;
---

<div class="flex gap-4 font-sans items-center">
  <div
    class="flex gap-6 items-center text-sm lg:text-base font-sans whitespace-nowrap inline-flex items-center color-brand-900 font-800 uppercase tracking-wider"
    transition:name={`reading-time-${id}`}
  >
    {readingTime}
  </div>
</div>

<h1
  class="m-0 mb-4 article-title color-text-700 text-2xl sm:text-3xl md:text-5xl font-900 z-1 leading-relaxed font-article-title"
  transition:name={`title-${id}`}
>
  {title}
</h1>

{
  banner && (
    <Image
      alt="Banner image"
      sizes="(min-width: 500px) 800px, 400px"
      width={1600}
      height={(1600 * 9) / 16}
      src={banner}
      loading="eager"
      class="article-banner my-10 aspect-ratio-[16/9] shadow-lg w-full rounded-lg outline outline-1 outline-body-800 object-cover"
      transition:name={`splash-${id}`}
    />
  )
}

<h2
  class="mt-0 color-text-300 text-xl lg:text-2xl z-1 mb-6 font-article"
  transition:name={`subtitle-${id}`}
>
  {subtitle}
</h2>

<div
  class="flex color-text-200 items-baseline justify-end flex-wrap text-xs md:text-sm lg:text-base font-sans"
>
  <span class="font-400 flex gap-2" transition:name={`date-${id}`}>
    Published <time datetime={date.toISOString()} class="color-text-800"
      >{format(date, "PP")}</time
    >
  </span>
</div>

<style>
  .article-banner {
    grid-column: 1/-1;
    max-width: 1200px !important;
  }

  h1.article-title {
    line-height: 1.35;
  }
</style>
