---
import type { CollectionEntry } from "astro:content";
import { routes } from "src/routing";
import { formatDistance } from "date-fns";

export type Props = CollectionEntry<"blog"> & {
  isNew: boolean;
};
const { data, id, isNew } = Astro.props;
---

<a
  data-article-id={id}
  data-is-new={isNew ? "true" : "false"}
  href={routes.article(id)}
  rel="prefetch"
  class="article-entry flex group @container h-full transition-transform duration-300 transform-gpu rounded"
>
  <div class="flex flex-row flex-1 relative h-full">
    <div class="z-1 flex-1">
      <div class="flex flex-col gap-2">
        <h2
          class="article-title text-lg font-medium leading-5 w-fit"
          transition:name={`title-${id}`}
        >
          {data.title}
        </h2>
        <!-- <p
          class="color-text-100 text-wrap-balance leading-6"
          transition:name={`subtitle-${slug}`}
        >
          {data.description}
        </p> -->
        <time
          class="text-sm color-text-300 leading-3"
          datetime={data.date.toString()}
          transition:name={`date-${id}`}
          >Posted {
            formatDistance(data.date, new Date(), { addSuffix: true })
          }</time
        >
      </div>
    </div>
  </div>
</a>

<script>
  import { annotate } from "rough-notation";

  type Annotation = ReturnType<typeof annotate>;
  const highlightColor = getComputedStyle(
    document.documentElement,
  ).getPropertyValue("--text-100");

  document.querySelectorAll(".article-entry").forEach((article) => {
    if (article instanceof HTMLElement) {
      let annotation: Annotation | undefined;
      article.addEventListener("mouseenter", (event) => {
        if (event.target instanceof HTMLElement) {
          const title = event.target?.querySelector(".article-title");
          if (!title) return;

          annotation = annotate(title as HTMLElement, {
            type: "underline",
            color: highlightColor,
          });
          annotation.show();
        }
      });

      article.addEventListener("mouseleave", () => {
        if (annotation) {
          annotation.remove();
        }
      });

      if (article.dataset.isNew === "false") {
        return;
      }
      const id = article.dataset.articleId;
      if (localStorage.getItem(`article-${id}`)) {
        return;
      }
      article.classList.add("unread");
    }
  });
</script>

<style>
  .article-bottom-border {
    border: none;
    background: linear-gradient(to right, var(--body-700), transparent);
  }
  .article-image {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    /* -webkit-mask-image: linear-gradient(to left, black, transparent),
      radial-gradient(at 0 0, black, transparent); */
  }

  .unread .new-tag {
    display: block;
  }
</style>
