---
import "💅/article.css";
import PostHeader from "🧱/article/PostHeader.astro";
import Navbar from "🧱/Navbar.astro";
import type { MarkdownLayoutProps } from "astro";
import type { BlogSchema } from "src/content/config";

type Props = MarkdownLayoutProps<BlogSchema> & {
  content: { minutesRead: string };
};

const { frontmatter, content } = Astro.props;
const { minutesRead } = content;
---

<link
  slot="head"
  rel="preload"
  href="/fonts/canela/canela-deck-bold-compressed.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<Navbar />
<article
  class="flex flex-col mx-auto prose max-w-full prose-code:before:content-none prose-code:after:content-none text-base w-full"
>
  <header class="w-full px-6 lg:px-0 pt-6xl pb-3xl article-grid">
    <!-- <Image alt="..." src={frontmatter.banner} width={1920} height={1080} /> -->
    <!-- <img
        alt="banner"
        src={new URL(Astro.props.frontmatter.banner, Astro.url)}
        width={1920}
        height={1080}
      /> -->
    <PostHeader
      banner={frontmatter.banner}
      date={new Date(frontmatter.date)}
      title={frontmatter.title}
      readingTime={String(minutesRead)}
      subtitle={frontmatter.description}
      topImage={frontmatter?.imageTop?.src}
      tags={frontmatter.tags}
      type="article"
    />
  </header>
  <main
    class="main-article article-grid px-6 lg:px-0 larger-line-height text-xl lg:text-2xl leading-10 my-2xl color-text-700 leading-looser w-full"
  >
    <!-- <slot /> -->
  </main>
</article>
